@model SoftIT.HouseParty.Models.PartyPart

@{
    var publicTypes = SoftIT.HouseParty.Constants.PartyConstants.PublicTypes.Select(type => new SelectListItem { Text = type, Value = type });
    var supplyTypes = SoftIT.HouseParty.Constants.PartyConstants.SupplyTypes.Select(type => new SelectListItem { Text = type, Value = type });
}

<fieldset>
    <label>@T("Party")</label>

    <ol>
        <li>
            @Html.LabelFor(model => model.Name, T("Name"))
            @Html.EditorFor(model => model.Name)
        </li>
        <li>
            @Html.LabelFor(model => model.Date, T("Date"))
            @Html.EditorFor(model => model.Date)
        </li>
        <li>
            @Html.LabelFor(model => model.Country, T("Country"))
            @Html.EditorFor(model => model.Country)
        </li>
        <li>
            @Html.LabelFor(model => model.State, T("State"))
            @Html.EditorFor(model => model.State)
        </li>
        <li>
            @Html.LabelFor(model => model.City, T("City"))
            @Html.EditorFor(model => model.City)
        </li>
        <li>
            @Html.LabelFor(model => model.Address, T("Address"))
            @Html.EditorFor(model => model.Address)
        </li>
        <li>
            @Html.LabelFor(model => model.Limit, T("Limit of participants"))
            @Html.EditorFor(model => model.Limit)
        </li>
        <li>
            @Html.CheckBoxFor(model => model.Visibility)
            <text>@T("Public party")</text>
        </li>
        <li>
            @Html.LabelFor(model => model.PublicType, T("Type of party"))
            @Html.DropDownListFor(model => model.PublicType, publicTypes)
        </li>
        <li>
            @Html.LabelFor(model => model.FoodType, T("Type of food supply"))
            @Html.DropDownListFor(model => model.FoodType, supplyTypes)
        </li>
        <li>
            @Html.LabelFor(model => model.DrinkType, T("Type of drink supply"))
            @Html.DropDownListFor(model => model.DrinkType, supplyTypes)
        </li>
        <li>
            @Html.LabelFor(model => model.BasePrice, T("Price"))
            @Html.EditorFor(model => model.BasePrice)
        </li>
        <li>
            @Html.LabelFor(model => model.Price, T("Price"))
            @Html.EditorFor(model => model.Price)
        </li>
        <li>
            @Html.LabelFor(model => model.BasePrice, T("Price"))
            @Html.EditorFor(model => model.BasePrice)
        </li>
    </ol>
</fieldset>
